body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45;
}

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.album .row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  width: 344px;
  height: 344px;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  max-width: 320px;
  max-height: 320px;
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

f
